Manifest.toml
Manual-Jac-content.pdf
applications
background  
html  
internal  
oldDocuments  
oldSources  
oldTests
references
work
old.gitignore
*.o
*.mod
*.so
fort.*
*.report
zz*
xx*
.gitigno*
tutorials/.ipynb_checkpoints/*
deps/build.log
